<!DOCTYPE html>
<html>
  <head>
    <title>Order Confirmation</title>
    <style>
      /* Reset some default styles */
      body,
      p {
        margin: 0;
        padding: 0;
      }

      /* Style the container */
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }

      /* Header style */
      .header {
        background-color: #007bff;
        color: #fff;
        text-align: center;
        padding: 10px 0;
      }

      /* Order details style */
      .order-details {
        margin-top: 20px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
      }

      /* Footer style */
      .footer {
        margin-top: 20px;
        text-align: center;
        color: #777;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Order Confirmation</h1>
      </div>

      <div class="order-details">
        <h2>Order Details:</h2>
        <p><strong>Order ID:</strong> <%= order._id %></p>
        <p><strong>Course Name:</strong> <%= order.name %></p>
        <p><strong>Price:</strong> <%= order.price %></p>
        <p><strong>Order Date:</strong> <%= order.date %></p>
      </div>

      <div class="footer">
        <p>Thank you for your order.</p>
        <p>
          Copyright &copy; <%= new Date().getFullYear() %> Your Company Name.
          All rights reserved.
        </p>
      </div>
    </div>
  </body>
</html>
